global
	log /dev/log	local0
	log /dev/log	local1 notice
	maxconn 2000
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries 3
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	

frontend myfrontend
	bind *:443
	mode tcp
	option tcplog
	default_backend mybackend

backend mybackend
	mode tcp
   	 balance roundrobin
	 
   	 option ssl-hello-chk
   	
   	 server web01 ${WEB_SERVICE_IP1}:${WEB_SERVICE_PORT1} check
   	 server web02 ${WEB_SERVICE_IP2}:${WEB_SERVICE_PORT2} check
   	 
