<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" href="js/bootstrap.min.js"></script>
<script type="text/javascript" href="js/jquery-3.4.1.min.js"></script>

<style>
button {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	margin-bottom: 30px;
}
.container {
	margin: 20px;
}

.form-control, #file {
	margin-bottom: 15px;
}

.siguiente {
	float: right;
}

.btn btn-link{
	margin: 20px;
}
</style>
</head>
<body>
	<div class="container">
		 <div class="row">
			 <div class="col-6">
			 	<h1 align="center">Iniciar Sesión</h1>

				 <form action="/">
					 <button type="submit" class="btn btn-danger">Volver</button>
				 </form>

				<form method="post" action="/login">
					<div class="form-group">
						<input type="text" id="nombre_usuario_input" class="form-control" name="username"
							   placeholder="Introduzca el nombre de usuario">
						<input type="password" id="password_input" class="form-control" name="password"
							   placeholder="Introduzca la contraseña">
						<button type="submit" id="buscar-btn" class="btn btn-success">Entrar</button>
					</div>
					<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
			</div>
		</div>
		<div class="row">
			<form method="get" action="/registro">
				<button type="submit" class="btn btn-link" align="center">Registrarse</button>
			</form>
		</div>
	</div>
</body>
</html>