<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Easy Notes</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" href="js/bootstrap.min.js"></script>

    <style>
        button {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .container {
            margin: 20px;
        }

        .row {
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
</head>

<body>
	<div class="container">
	   	<h4>Mostrando Apuntes/Exámenes:</h4>
		{{#noResult}}
		<h5>No se han encontrado apuntes/exámenes</h5>
		{{/noResult}}

	    {{#apuntes}}
		    <div class="dropdown-divider"></div>
		
			<div class="row">
		        <p class="col-md-2">Nombre:</p>
		        <div class="col-md-6">{{nombre}}
					<b style="color: red">{{#esExamen}}(examen){{/esExamen}}</b>
				</div>
		    </div>
		    <div class="row">
		        <p class="col-md-2">Asignatura:</p>
		        <p class="col-md-6">{{asignatura.nombre}}</p>
		    </div>
		    <div class="row">
		        <p class="col-md-2">Titulación:</p>
		        <p class="col-md-6">{{carrera.nombre}}</p>
		    </div>
		    <div class="row">
		        <p class="col-md-2">Universidad:</p>
		        <p class="col-md-6">{{universidad.nombre}}</p>
		    </div>
		    <div class="row">
		        <p class="col-md-2">Autor:</p>
		        <p class="col-md-6">{{autor.nombre}} {{autor.apellidos}}</p>
		    </div>
		    <div class="row">
		        <p class="col-md-2">Fecha Subida:</p>
		        <p class="col-md-3">{{fechaSubida.DayOfMonth}}/{{fechaSubida.month}}/{{fechaSubida.year}}	{{fechaSubida.hour}}:{{fechaSubida.minute}} </p>
		    </div>
		    <div class="dropdown-divider"></div>

			{{#noDownload}}
				<div class="row">
					<p>No tienes suficientes créditos para descargar apuntes</p>
				</div>
			{{/noDownload}}
			{{#yesDownload}}
				<div class="row">
					<a href="/download/{{id}}" download="{{nombre}}.pdf" >Descargar: {{nombre}}</a>
				</div>
			{{/yesDownload}}

		    <div class="row">
		        <a href="/download/{{id}}" target="_blank">Visualizar: {{nombre}}</a>
		    </div>
		    <div class="row">
		        <a href="/delete/{{id}}">Eliminar: {{nombre}}</a>
		        <br>
		        <br>
		    </div>
	    {{/apuntes}}
	     <form action="/">
			<button type="submit" class="btn btn-danger">Volver</button>


		 </form>
	</div>
</body>
</html>
