<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css">
<script type="text/javascript" href="http://localhost:8080/js/bootstrap.min.js"></script>
<script type="text/javascript" href="http://localhost:8080/js/jquery-3.4.1.min.js"></script>

<style>
button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.container{
	margin: 20px;
}
.form-control, #file{
	margin-bottom: 15px;
}
</style>
</head>
<body>

	<div class="container">
		<h1 align="center">Apuntes subidos correctamente</h1>
		<form action="/">
			<button type="submit" class="btn btn-primary">Volver</button>
		</form>
	</div>
	<!--<div class="container">
		<h1 align="center">Subir Apuntes</h1>
		<form action="/">
			<button type="submit" class="btn btn-primary">Volver</button>
		</form>
		<form method="post" action="/save" enctype="multipart/form-data">
			<div class="col">
				<div class="row">
					<label for="Universidad">Universidad:</label>
					<select class="form-control" name="uniStr">
						{{#universidades}}
						    <option>{{nombre}}</option>
					    {{/universidades}}
					</select>
				</div>
				<div class="row">
					<label for="Asignatura">Asignatura:</label>
					<select class="form-control" name="asignStr"">
						{{#asignaturas}}
						    <option>{{nombre}}</option>
					    {{/asignaturas}}
					</select>
				</div>
				<div class="row">
					<label for="Carrera">Titulación:</label>
					<select class="form-control" name="carreraStr"">
						{{#carreras}}
						    <option>{{nombre}}</option>
					    {{/carreras}}
					</select>
				</div>
				<div class="row">
					<label for="Tags">Tags:</label>
					<input type="text" class="form-control" id="Tags" name="tags"
							   placeholder="Introduzca los Tags separados por , y encerrados entre []">
				</div>
				<div class="row">
					<label for="Nombre">Nombre:
						<input type="text" class="form-control" id="Nombre" name="nombre"
							   placeholder="Introduzca el nombre del apunte">
					</label>
				</div>
				<div class="row">
					<label for="Autor">Autor:
						<input type="text" class="form-control" id="Autor" name="autorStr"
							   placeholder="Introduzca el nombre del autor">
					</label>
				</div>
				<div class="row">
					<input type="file" id="file" name="file" multiple="multiple" accept=".pdf">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>-->
	
</body>
</html>