<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<script type="text/javascript" href="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" href="../static/js/jquery-3.4.1.min.js"></script>

<style>
button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.container{
	margin: 20px;
}
.form-control{
	margin-bottom: 15px;
}
</style>
</head>
<body>
	<div class="container">
		<h1 align="center">Subir Apuntes</h1>
		<form method="post" action="/save" enctype="multipart/form-data">
			<div class="row">
				<label for="Universidad">Universidad:</label>
					<!--  <input type="text" class="form-control" id="Universidad" name="uniStr"
						   placeholder="Introduzca la Universidad">-->
				<select class="form-control" name="uniStr">
					{{#universidades}}
					    <option>{{universidad.nombre}}</option>
				    {{/universidades}}
				</select>
			</div>
			<div class="row">
				<label for="Asignatura">Asignatura:</label>
					<!--<input type="text" class="form-control" id="Asignatura" name="asignStr"
						   placeholder="Introduzca la Asignatura">-->
				<select class="form-control" name="asignStr"">
					{{#asignaturas}}
					    <option>{{asignatura.nombre}}</option>
				    {{/asignaturas}}
				</select>
			</div>
			<div class="row">
				<label for="Carrera">Titulación:</label>
					<!--<input type="text" class="form-control" id="Carrera" name="carreraStr"
						   placeholder="Introduzca la Titulación">-->
				<select class="form-control" name="carreraStr"">
					{{#carreras}}
					    <option>{{carrera.nombre}}</option>
				    {{/carreras}}
				</select>
			</div>
			<div class="row">
				<label for="Tags">Tags:</label>
				<input type="text" class="form-control" id="Tags" name="tags"
						   placeholder="Introduzca los Tags separados por , y encerrados entre []">
			</div>
			<!-- <div class="row">
				<label for="Autor">Autor:
					<input type="text" class="form-control" id="Autor" name="autorStr"
						   placeholder="Introduzca el nombre del autor">
				</label>
			</div> -->
			<div class="row">
				<input type="file" class="form-control" id="file" name="file" multiple="multiple">
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
	
	<script type="text/javascript">
	let asignaturas = element.getAttribute("asignaturas");
	</script>
</body>
</html>