<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css">
<script type="text/javascript" href="http://localhost:8080/js/bootstrap.min.js"></script>
<script type="text/javascript" href="http://localhost:8080/js/jquery-3.4.1.min.js"></script>

<style>
	button {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.container {
		margin: 20px;
	}

	.form-control, #file {
		margin-bottom: 15px;
	}

	.siguiente {
		float: right;
	}
</style>
</head>

<body>
	<div class="container">
		<h1 align="center">Subir Apuntes (Asignatura)</h1>
		<form action="/">
			<button type="submit" class="btn btn-danger">Volver</button>
		</form>
		<form method="post" action="/saveApunte/{{universidad.nombre}}/{{carrera.nombre}}" enctype="multipart/form-data">
			<div class="col">
				<div class="row">
					<h4>Universidad: {{universidad.nombre}}</h4>
				</div>
				<div class="row">
					<h4>Titulación: {{carrera.nombre}}</h4>
				</div>
				<div class="row">
					<label for="Asignatura">Asignatura:</label>
						<!--  <input type="text" class="form-control" id="Universidad" name="uniStr"
							   placeholder="Introduzca la Universidad">-->
					<select class="form-control" name="asigStr">
						{{#asignaturas}}
						    <option>{{nombre}}</option>
					    {{/asignaturas}}
					</select>
				</div>
				<div class="row">
					<label for="Tags">Tags:</label>
					<input type="text" class="form-control" id="Tags" name="tags"
							   placeholder="Introduzca los Tags separados por ','">
				</div>
				<div class="row">
					<label for="Nombre">Nombre:</label>
						<input type="text" class="form-control" id="Nombre" name="nombre"
							   placeholder="Introduzca un nombre para los apuntes" required>
				</div>
				<div class="row">
					<label for="esexamen"></label>¿Es un examen?   
						<input type="checkbox"   name="esExamen"
							    >
				</div>
				<div class="row">
					<input type="file" id="file" name="file"  accept="application/pdf" required>
				</div>
			</div>
			<div class="siguiente">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
	
</body>
</html>