<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" href="js/bootstrap.min.js"></script>
<script type="text/javascript" href="js/jquery-3.4.1.min.js"></script>

<style>
button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.container{
	margin: 20px;
}
.form-control, #file{
	margin-bottom: 15px;
}

.siguiente{
	float: right;
}
</style>
</head>
<body>
	<div class="container">
		<h1 align="center">Subir Apuntes (Carrera)</h1>
		<form action="/">
			<button type="submit" class="btn btn-primary">Volver</button>
		</form>
		<form method="get" action="/subirAsignatura/{{universidad.nombre}}" enctype="multipart/form-data">
			<div class="col">
				<div class="row">
					<h4>Universidad: {{universidad.nombre}}</h4>
				</div>
				<div class="row">
					<label for="Carrera">Carrera:</label>
						<!--  <input type="text" class="form-control" id="Universidad" name="uniStr"
							   placeholder="Introduzca la Universidad">-->
					<select class="form-control" name="carreraStr">
						{{#carreras}}
						    <option>{{nombre}}</option>
					    {{/carreras}}
					</select>
				</div>
			</div>
			<div class="siguiente">
				<button type="submit" class="btn btn-primary">Siguiente</button>
			</div>
		</form>
	</div>
	
</body>
</html>