<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" href="js/bootstrap.min.js"></script>
<script type="text/javascript" href="js/jquery-3.4.1.min.js"></script>

<style>
button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
	margin: 20px;
}
.form-control {
	margin-bottom: 15px;
}

.siguiente {
	float: right;
}
</style>
</head>
<body>
	<div class="container">
		<h1 align="center">Añadir Carrera</h1>
		<form action="/">
			<button type="submit" class="btn btn-danger">Volver</button>

		</form>
		<form method="post" action="/anadida_carrera" enctype="multipart/form-data">
			<div class="col">
				<div class="row">
					<label>Selecciona la Universidad:</label>
					<select class="form-control" name="uniStr">
						{{#universidades}}
						    <option>{{nombre}}</option>
					    {{/universidades}}
					</select>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<label for="Carrera">Carrera:</label>
					<input type="text" class="form-control" id="Carrera" name="carreraStr"
				   		placeholder="Introduzca el nombre de la carrera que desea añadir">
				</div>
			</div>
			<button type="submit" id="anadir-btn" class="btn btn-primary" disabled="true">Añadir</button>


		</form>
	</div>
	
	<script>
		let input = document.getElementById("Carrera");
		input.addEventListener("input", function(){
			if (input.value !== ""){
				document.getElementById("anadir-btn").disabled = false;
			} else{
				document.getElementById("anadir-btn").disabled = true;
			}
		})
	</script>
</body>
</html>