<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" href="js/bootstrap.min.js"></script>
<script type="text/javascript" href="js/jquery-3.4.1.min.js"></script>

<style>
button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.container{
	margin: 20px;
}
.form-control{
	margin-bottom: 15px;
}
</style>
</head>
<body>
	<div class="container">
		<h1 align="center">Buscar Apuntes</h1>
		<form action="/">
			<button type="submit" class="btn btn-danger">Volver</button>
			<input type="hidden" name="_csrf" value="{{token}}"/>

		</form>
		<form method="post" action="/mostrarBusqueda?tipo=asignatura">
			<div class="col">
				<div class="row">
					<label>Buscar Apuntes por Asignatura:</label>
				</div>
				<div class="row">
					<select class="form-control" name="uniCarreraAsig">
						{{#asignaturas}}
						    <option>{{.}}</option>
					    {{/asignaturas}}
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Buscar</button>
			<input type="hidden" name="_csrf" value="{{token}}"/>


		</form>
	</div>
</body>
</html>