<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Easy Notes</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" href="js/bootstrap.min.js"></script>
<script type="text/javascript" href="js/jquery-3.4.1.min.js"></script>

<style>
button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.container{
	margin: 20px;
}

.logout {
	float: right;
}

.borrarAp {
	float: right;
	margin-top: -10px;
	margin-bottom: -10px;
}
</style>
</head>
<body>
	<div class="container">
		{{#noLogged}}
		<div class="row">
			<form method="get" action="/login">
				<button type="submit" class="btn btn-link">Iniciar Sesión</button>
			</form>
		</div>
		{{/noLogged}}

		{{#yesLogged}}
		<div class="row">
			<div class="col">
				<h5>{{nombreUsuario}}  ({{creditos}} creditos)</h5>
			</div>
			<div class="col">
				<div class="logout">
					<form action="/logout" method="post">
						<input type="submit" value="Sign Out" class="btn btn-danger"/>
						<input type="hidden" name="_csrf" value="{{token}}"/>
					</form>
				</div>
			</div>
		</div>
		{{/yesLogged}}


		<h1 align="center">Buscar Apuntes</h1>
		
	 	<div class="row">
			 <div class="col-10">
				<form method="get" action="/search">
					<input type="text" id="buscar-input" class="form-control" name="buscarAp"
									   placeholder="Buscar Apuntes por TAGS">
					<button type="submit" id="buscar-btn" class="btn btn-primary" disabled="true">Buscar</button>
					<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
			</div>
			{{#borrar}}
			<div class="col">
				<div class="borrarAp">
					<form method="post" action="/borrarApuntes">
						<button type="submit" id="buscar-btn" class="btn btn-secondary" class="borrarAp">Borrar Apuntes</button>
						<input type="hidden" name="_csrf" value="{{token}}"/>
					</form>
				</div>
			</div>
			{{/borrar}}
		</div>
		<div class="row">
			<div class="col">
				<form method="get" action="/searchAsignatura">
					<div class="form-group">
						<button type="submit" class="btn btn-outline-secondary">Buscar por Asignatura</button>
						<input type="hidden" name="_csrf" value="{{token}}"/>
					</div>
				</form>
			</div>
			<div class="col">
				<form method="get" action="/searchCarrera">
					<div class="form-group">
						<button type="submit" class="btn btn-outline-secondary">Buscar por Carrera</button>
						<input type="hidden" name="_csrf" value="{{token}}"/>

					</div>
				</form>
			</div>
			<div class="col">
				<form method="get" action="/searchUniversidad">
					<div class="form-group">
						<button type="submit" class="btn btn-outline-secondary">Buscar por Universidad</button>
					</div>
					<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form method="get" action="/subirApunte">
					<div class="form-group">
						<button type="submit" class="btn btn-success">Subir Apuntes</button>
					</div>
					<input type="hidden" name="_csrf" value="{{token}}"/>

				</form>
			</div>

			{{#isAdmin}}
			<div class="col">
				<form method="get" action="/anadirUniversidad">
					<button type="submit" class="btn btn-link">Añadir Universidad</button>
					<input type="hidden" name="_csrf" value="{{token}}"/>

				</form>
			</div>
			<div class="col">
				<form method="get" action="/anadirCarrera">
					<button type="submit" class="btn btn-link">Añadir Carrera</button>
					<input type="hidden" name="_csrf" value="{{token}}"/>

				</form>
			</div>
			<div class="col">
				<form method="get" action="/anadirAsignatura">
					<button type="submit" class="btn btn-link">Añadir Asignatura</button>
					<input type="hidden" name="_csrf" value="{{token}}"/>

				</form>
			</div>
			{{/isAdmin}}
			
			{{#isUser}}
			<div class="col">
				<form method="get" action="/solicitarAsignatura">
					<button type="submit" class="btn btn-link">Solicitar Asignatura</button>
					<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
			</div>
			{{/isUser}}
			
		</div>
	</div>
	<script>
		let input = document.getElementById("buscar-input");
		input.addEventListener("input", function(){
			if (input.value !== "") {
				document.getElementById("buscar-btn").disabled = false;
			} else {
				document.getElementById("buscar-btn").disabled = true;
			}
		})
	
	</script>
</body>
</html>