<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login error Easynotes</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" href="js/bootstrap.min.js"></script>

    <style>
        button {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .container {
            margin: 20px;
        }

        .row {
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        	{{#error}}
        		<h4>Error al iniciar sesión. Comprueba que las credenciales sean correctas</h4>
       		{{/error}}
            {{#passwordsNotEquals}}
                <h4>Las contraseñas no coinciden.</h4>
            {{/passwordsNotEquals}}
            {{#usernameDup}}
                <h4>Ya existe un usuario con este nick.</h4>
            {{/usernameDup}}
            {{#emailDup}}
                <h4>El correo ya está registrado.</h4>
            {{/emailDup}}
            {{#passwordNotEqual}}
                <h4>La contraseña repetida no concuerda con el anterior.</h4>
            {{/passwordNotEqual}}
            {{#userOrPassError}}
                <h4>Usuario o contraseña incorrecta. Revise los datos introducidos.</h4>
            {{/userOrPassError}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <form action="/login">
                <button type="submit" class="btn btn-danger">Volver</button>

                <input type="hidden" name="_csrf" value="{{token}}"/>

            </form>
        </div>
    </div>
</div>
</body>
</html>