<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Easy Notes</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" href="/js/bootstrap.min.js"></script>

    <style>
        button {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .container {
            margin: 20px;
        }

        .row {
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
</head>

<body>
	<div class="container">
	    <div class="row">
	        <h4>Se ha guardado correctamente: {{apunte.nombre}}</h4>
	    </div>
	    <form action="/">
			<button type="submit" class="btn btn-danger">Volver</button>
	        <input type="hidden" name="_csrf" value="{{token}}"/>
	
	    </form>
	    <div class="dropdown-divider"></div>
	
	    <div class="row">
	        <p class="col-md-2">Asignatura:</p>
	        <p class="col-md-3">{{apunte.asignatura.nombre}}</p>
	    </div>
	    <div class="row">
	        <p class="col-md-2">Titulación:</p>
	        <p class="col-md-3">{{apunte.carrera.nombre}}</p>
	    </div>
	    <div class="row">
	        <p class="col-md-2">Universidad:</p>
	        <p class="col-md-3">{{apunte.universidad.nombre}}</p>
	    </div>
	    <div class="row">
	        <p class="col-md-2">Autor:</p>
	        <p class="col-md-3">{{apunte.autor.nombre}} {{apunte.autor.apellidos}}</p>
	    </div>
	    <div class="dropdown-divider"></div>
		<div class="row">
	        <a download="{{apunte.nombre}}.pdf" href="/download/{{apunte.id}}">Descargar: {{apunte.nombre}}</a>
	    </div>
	    <div class="row">
	        <a href="" target="_self">Visualizar: {{apunte.nombre}}</a>
	    </div>
	    <div class="row">
	        <a href="/delete/{{apunte.id}}">Eliminar: {{apunte.nombre}}</a>
	    </div>
	</div>
	</body>
</html>
